<a href="#/breweries">Back</a>


<div>
    <h1 class="flex">{{brewerie.name}}</h1>
    <span class="flex">Type: {{brewerie.brewery_type}}</span>
    <span class="flex">Street: {{brewerie.street}}</span>
    <span class="flex">City: {{brewerie.city}}</span>
    <span class="flex">State: {{brewerie.state}}</span>
    <span class="flex">Postal code: {{brewerie.postal_code}}</span>
    <span class="flex">Country: {{brewerie.country}}</span>
    <span class="flex">Website: {{brewerie.website_url}}</span>
    <span class="flex">Phone: {{brewerie.phone}}</span>
    <span class="flex">Open in maps: </span>
    
</div>