Filter: 
<select name="" id="">
    <option value="">micro</option>
</select>
<div class="flex card-containner">

    <a class="card" ng-repeat="brewerie in breweries" href="#/breweries/{{brewerie.id}}">
        <h1 class="flex">{{brewerie.name}}</h1>
        <div class="flex card-description"> 
            <span class="flex">{{brewerie.street}}</span>
            <span class="flex">{{brewerie.city + " - " + brewerie.postal_code}}</span>
            <span class="flex">{{brewerie.country}}</span>
        </div>
        <div class="flex card-footer">
            {{brewerie.brewery_type}}
        </div>
    </a>

</div>