@mixin flex {
    display: flex;
    width: 100%;
}
$cinza : #4a4a4a;
$sombra : 0 1px 8px 0 rgb(0 0 0 / 5%), 0 1px 5px 0 rgb(0 0 0 / 5%);

html{
    @include flex();
	height: 100%;
	position: relative;
    background: #fff;
    font-family: 'Noto Serif', serif;
    color: $cinza;
    
    .flex{
        display: flex;
        width: 100%;
    }
    
    body{
        @include flex();
        align-content: flex-start;
        
        margin: 0px;
        flex-wrap: wrap;
        .stand{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            &.body-ct{
                @media(max-width: 1200px){ 
                    padding: 0px 10%;
                }
            }
        }
        .home-page{
            padding: 10px 0px;
        }
        .title-home{
            font-weight: bold;
            padding-right: 5px;
        }
        .title-detail{
            text-decoration: none !important;
            color: $cinza !important;
            .letter-back{
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }

    .pagination{
        @include flex();
        justify-content: center;
        .btn{
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            padding: 5px;
            box-shadow: $sombra;
            border-radius: 5px;
            cursor: pointer;
            &.active{
                background: $cinza;
                color: #fff;
            }
        }
    }

    .header{
        @include flex();
        background: #323131;
        align-items: center;
        height: 200px;
        color: #fff;
        @media(max-width: 1200px){ 
            padding: 0px 10%;
            height: 170px;
        }
        .title-stand{
            margin-bottom: 0px
        }
        .subtitle-stand{
            margin-top: 1px;
        }
    }

    .footer{
        @include flex();
        background: #fafafa;
        height: 200px;
        align-items: center;
        justify-content: center;
        .stand-footer{
            justify-content: center;
        }
    }

    .card-detail{
        box-shadow: $sombra;
        margin-bottom: 20px;
        padding: 20px;
        .link{
            text-decoration: none !important;
            color: #3e7bde!important;
        }
    }

    .card-containner{
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width: 750px){ 
            justify-content: space-around;
        }
        .card{
            text-decoration: none !important;
            color: $cinza !important;
            margin: 10px 20px 10px 0px;
            flex-wrap: wrap;
            @include flex();
            width: 280px;
            height: 315px;
            align-content: flex-start;
            box-shadow: $sombra;
            .flex{
                padding: 20px;
            }
            .card-title{
                font-size: 1.5em;
                height: 80px;
                padding: 20px 20px 0px 20px;
                font-weight: bold;
            }
            .card-description{
                @include flex();
                height: 150px;
                padding: 20px 20px 0px 20px;
                flex-wrap: wrap;
                align-content: flex-start;
            }
            .card-footer{
                @include flex();
                padding: 10px 20px;
                // height: 14px;
                border-top: 1px solid #c5c5c538;
                .tag{
                    font-size: 0.8em;
                    padding: 3px;
                    border-radius: 5px;
                    background: #00d1b2;
                    color: #fff;
                }
            }
        }
    }

}