@mixin flex {
    display: flex;
    width: 100%;
}


html{
    @include flex();
	height: 100%;
	position: relative;
    background: #fff;
    font-family: 'Noto Serif', serif;
    color: #4a4a4a;
    .flex{
        display: flex;
        width: 100%;
    }
    
    body{
        @include flex();
        align-content: flex-start;
        
        margin: 0px;
        flex-wrap: wrap;
        .stand{
            margin: 0px 10%;
        }
    }

    .header{
        @include flex();
        background: #323131;
        align-items: center;
        height: 200px;
        color: #fff;
    }

    .footer{
        @include flex();
        background: #fafafa;
        height: 200px;
        align-items: center;
        justify-content: center;
    }

    .card-containner{
        flex-wrap: wrap;
        justify-content: space-between;
        .card{
            text-decoration: none !important;
            color: #4a4a4a !important;
            margin: 10px 20px 10px 0px;
            flex-wrap: wrap;
            @include flex();
            width: 300px;
            height: 400px;
            box-shadow: 0 1px 8px 0 rgb(0 0 0 / 5%), 0 1px 5px 0 rgb(0 0 0 / 5%);
            .flex{
                padding: 10px;
            }
            .card-description{
                flex-wrap: wrap;
            }
            .card-footer{
    
                border-top: 1px solid black;
            }
        }
    }

}